* {
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}

.product_content{
	text-align: center;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 1rem;
}

.single_product{
	align-content: center;
	text-align: center;
	background-color: white;
	border-radius: 2vmin;
	border-style: outset;
	border-color: black;
}

.single_product > img{
	width: 220px;
	transition: transform .2s;
}

.single_product > img:hover{
	transform: scale(3);
}
.product_box{
	background-color: white;
	border-radius: 2vmin;
	border-style: outset;
	border-color: black;
}

.product_box > img {
	width: auto;
	max-height: 150px;
	transition: transform .2s;
}

.product_box > img:hover {
	transform: scale(1.5);
}

.main_container{
	padding-left: 15%;
	padding-right: 15%;
	background-color: white;
}
body {
	font-family: 'Quicksand', sans-serif;
	font-weight: 300;
	background-image: url('../data/img/background.jpg');
}

	h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
}

a {
	color: rgb(255, 129, 129);
}

h1{
	text-align: center;
	text-shadow: 0px 0px 2px white;
}
button {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

.admin {
	padding: 5vmin;
	background-color: white;
	border-radius: 2vmin;
	border-style: outset;
	border-color: black;
}
.user {
	padding: 5vmin;
	background-color: white;
	border-radius: 2vmin;
	border-style: outset;
	border-color: black;
}